@model IEnumerable<Negocio.Entidades.TipoCabania>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Bien"] != null)
{
    <div class="alert alert-success p-3"> @TempData["Bien"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { nombre=item.Nombre }) |
                @Html.ActionLink("Details", "Details", new {  nombre=item.Nombre }) |
                @Html.ActionLink("Delete", "Delete", new { nombre=item.Nombre})
            </td>
        </tr>
}
    </tbody>
</table>
