@model IEnumerable<Negocio.Entidades.Mantenimiento>
@{
    ViewData["Title"] = "Index";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
<h1>Listado de mantenimientos</h1>


@if(Model.Count() == 0)
{
    <div>No hay tipos disponibles</div>
}else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cabania.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trabajador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cabania.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                
            </tr>
        }
    </tbody>
</table>
}


