@model PresentacionMVC.Models.BusquedaCabaniaViewModal

@{
    ViewData["Title"] = "BusquedaFiltros";
}

@if (TempData["Bien"] != null)
{
    <div class="alert alert-success p-3"> @TempData["Bien"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<h1>BusquedaFiltros</h1>

<h4>Cabania</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BusquedaFiltros">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Habilitada" /> @Html.DisplayNameFor(model => model.Habilitada)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="CantidadPersonas" class="control-label"></label>
                <input asp-for="CantidadPersonas" class="form-control" />
                <span asp-validation-for="CantidadPersonas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoID" class="control-label">Tipo Cabaña</label>
                <select asp-for="TipoID" asp-items="@(new SelectList(Model.TiposCabania, "Id", "Nombre"))" class="form-control">
                    <option>Seleccione una opcion</option>
                </select>
                <span asp-validation-for="TipoID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />

@if (Model.Cabanias.Count() == 0)
{
    <div>No se encontraron Cabañas</div>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    Numero Habitacion
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Jacuzzi
                </th>
                <th>
                    Nombre Tipo
                </th>
                <th>
                    Costo
                </th>
                <th>
                    Habilitada
                </th>
                <th>
                    Foto
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>



            @foreach (var item in Model.Cabanias)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Jacuzzi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCabania.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCabania.Costo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Habilitada)
                    </td>
                    <td>
                        <img src="/Imagenes/@item.Foto" height="100" />
                    </td>
                    <td>
                        @Html.ActionLink("Create Mantenimiento", "Create","Mantenimiento", new {  id=item.Id }) |
                        @Html.ActionLink("Mostrar mantenimiento", "ListByCabania","Mantenimiento", new {   id=item.Id  }) |

                    </td>
                </tr>

            }
        </tbody>
    </table>

}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
